In [ ]:
import sklearn
import pandas as pd
import io
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving melb_data.csv to melb_data.csv

In [ ]:
#data loaded baby
mel_data = pd.read_csv(io.BytesIO(uploaded['melb_data.csv']))
mel_data

              Suburb  ... Propertycount
0         Abbotsford  ...        4019.0
1         Abbotsford  ...        4019.0
2         Abbotsford  ...        4019.0
3         Abbotsford  ...        4019.0
4         Abbotsford  ...        4019.0
...              ...  ...           ...
13575  Wheelers Hill  ...        7392.0
13576   Williamstown  ...        6380.0
13577   Williamstown  ...        6380.0
13578   Williamstown  ...        6380.0
13579     Yarraville  ...        6543.0

[13580 rows x 21 columns]

In [ ]:
#filtering missing data
filtered_mel_data = mel_data.dropna(axis = 0)
filtered_mel_data

In [ ]:
#Choosing Target 
Y = filtered_mel_data.Price
#Features
mel_features = ["Rooms", "Bathroom", "Landsize", "BuildingArea", "YearBuilt", "Lattitude", "Longtitude"]
X = filtered_mel_data[mel_features]

In [ ]:
#model
mel_model = DecisionTreeRegressor()
mel_model.fit(X,Y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [ ]:
Predicted_home_price = mel_model.predict(X)
mean_absolute_error(Y, Predicted_home_price)

434.71594577146544

In [ ]:
#coding in depth
train_X, val_X, train_Y, val_Y = train_test_split(X,Y, random_state = 0)
#no defining the model
mel_model =DecisionTreeRegressor()
#fit model
mel_model.fit(train_X, train_Y)
#getting the prediction
Val_predic = mel_model.predict(val_X)
print(mean_absolute_error(val_Y, Val_predic))

262333.09683666885